:root {
    --nav-height: 57px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none
}

a:link,
a:active,
a:visited {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: BucThu;
    src: url("font/UVNBucThu.TTF");
}

/* KEYFRAMES */

@keyframes xoay {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(90deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(270deg);
    }

    80% {
        transform: rotate(310deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    /*thanh scroll*/
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    max-height: 50%;
    height: 200px;
}

body::-webkit-scrollbar-track {
    /*thanh contain scroll*/
    background-color: #ccc;
    border-radius: 50px;
}

/* HEADER */

.nav_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    transition: all 0.3s ease;
    visibility: visible;
    opacity: 1;
}

.nav_header.hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.nav_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: var(--nav-height);
    width: 100%;
    padding-left: 45px;
    padding-right: 179px;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}

.nav_logo {}

.nav_logo a {}

.nav_logo a img {
    line-height: var(--nav-height);
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_menu .nav_info {
    margin-right: 95px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.nav_menu .nav_info.hide {
    display: none;
}

.nav_menu .nav_info.nav_info_show {
    margin-right: 65px;
    opacity: 1;
    visibility: visible;
}

.nav_menu .nav_info>ul {
    /* display: block; */
}

.nav_menu .nav_info>ul>li {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.nav_menu .nav_info>ul>li:hover>ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    top: 99%;
}

.nav_menu .nav_info>ul>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    transition: 300ms;
    text-decoration: underline 1.5px transparent;
    padding: 18px 26px;
}

.nav_menu .nav_info>ul>li>a:hover {
    text-decoration-color: black;
}

.blog_contain {}

.blog_child {
    /* display: none; */
    position: absolute;
    top: 82%;
    left: 0;
    background-color: rgba(43, 43, 43, 0.7);
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
    height: 145px;
    width: 170px;
    padding: 17px 0;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
}

.blog_child>li {
    display: block;
    margin-left: 13px;
}

.blog_child>li>a {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    height: 36px;
    line-height: 36px;
    text-decoration: underline 1.5px transparent;
    letter-spacing: 1px;
    transition: 300ms;
}

.blog_child>li:hover>a {
    text-decoration-color: white;
}

.nav_menu .nav_icon {
    display: flex;
    align-items: center;
}

.nav_menu .nav_icon a {}

.nav_menu .nav_icon a .menu {
    color: black;
    font-size: 55px;
    font-weight: 200;
    display: none;
}

.nav_menu .nav_icon a .menu.active {
    display: block;
}

.nav_menu .nav_icon a .close {
    color: black;
    font-size: 25px;
    font-weight: 100;
    display: none;
}

.nav_menu .nav_icon a .close.active {
    display: block;
}

/* SLIDER - HOME */
.slider_contain {
    margin-top: var(--nav-height);
    position: relative;
}

.slider_img {
    position: relative;
}

.slider_img .slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 60px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}

.slider_img .slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slider_img .slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 60px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
}

.slider_img .slick-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slider_items {
    position: relative;
}

.slider_pic {
    min-width: 100%;
}

.slider_pic img {
    min-width: 100%;
    max-height: 830px;
    object-fit: cover;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    filter: brightness(90%);
}

.slider_intro {
    color: #fff;
    margin-bottom: 38px;
    position: absolute;
    left: calc(50% - 600px);
    bottom: 100px;
    width: 345px;
    margin-left: 20px;
}

.slider_intro h2 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 15px;
}

.slider_intro h2 span {
    text-decoration: underline 3px;
}

.slider_intro p {
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 30px;
}

.slider_contain .container {
    position: absolute;
    left: calc(50% - 600px);
    top: 30%;
}

.slider_title {
    max-width: 792px;
    color: #fff;
    user-select: none;
    /* margin-bottom: 305px; */
    /* transform: translateX(-50%); */
}

.slider_title h2 {
    font-size: 155px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.1;
    text-transform: capitalize;
}

.slider_title p {
    font-size: 35px;
    text-align: right;
    line-height: 1;
    letter-spacing: 3px;
    font-family: BucThu, sans-serif;
}

.slick-dots {
    position: absolute;
    right: calc(50% - 330px);
    bottom: 105px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    cursor: pointer;
    font-size: 0px;
    outline: none;
    border: none;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.slick-dots .slick-active button {
    background-color: white;
    opacity: 1;
}

/* SLIDER - ABOUT */

.about_section {
    margin-top: var(--nav-height);
    background-image: url('./images/hero/h1_hero1_about.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
}

.about_section .container {}

.about_center {
    text-align: center;
}

.about_center h2 {
    color: #fff;
    font-size: 54px;
    font-weight: 800;
    text-transform: capitalize;
}

/* WITH MY CAMERA - HOME */

.camera_container {
    padding-top: 110px;
    padding-bottom: 110px;
}

.camera_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.camera_title {
    padding: 0 15px;
    margin-bottom: 50px;
    flex: 1;
}

.camera_title h2 {
    font-size: 62px;
    display: block;
    font-weight: 400;
    line-height: 1.2;
}

.camera_quote {
    padding: 0 15px;
    margin-bottom: 60px;
    flex: 1;
}

.camera_quote p {
    color: #646D77;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}

.camera_middle {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.camera_middle>div {
    padding: 0 15px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.5s ease;
}

.camera_middle>div:hover {
    transform: scale(1.05);
}

.camera_pics_1 {
    max-width: 41.666667%;
}

.camera_pics_2 {
    max-width: 58.333333%;
}

.camera_pics_3 {
    max-width: 50%;
}

.camera_pics_4 {
    max-width: 50%;
}

.camera_content {
    position: relative;
}

.camera_content>div {
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.camera_img_1 {
    background-image: url("./images/gallery/xe dap.webp");
    width: 470px;
    height: 535px;
}

.camera_img_2 {
    background-image: url("./images/gallery/lung linh.webp");
    height: 535px;
    width: 670px;
}

.camera_img_3 {
    background-image: url("./images/gallery/em be.webp");
    height: 535px;
    width: 570px;
}

.camera_img_4 {
    background-image: url("./images/gallery/meo.webp");
    height: 535px;
    width: 570px;
}

.camera_content p {
    position: absolute;
    bottom: 17px;
    left: 15px;
    z-index: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}

.camera_overlay {}

.camera_overlay_content {}

.camera_contain_btn {
    margin-top: 50px;
    width: 100%;
}

.camera_btn {
    padding: 0 15px;
    text-align: center;
}

.camera_btn a {
    display: inline-block;
    border: 1px solid #DBDBDB;
    padding: 14px 36px;
    color: #071112;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
}

.camera_btn a::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #071112;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
}

.camera_btn a:hover {
    color: #fff;
}

.camera_btn a:hover::before {
    transform: scaleY(1);
}

/* WITH MY CAMERA - ABOUT*/

.camera_about {
    padding-top: 110px;
    padding-bottom: 110px;
}

.camera_about .container {}

.camera_about_flex {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.camera_about_title {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.camera_about_title h2 {
    font-size: 60px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 21px;
}

.camera_about_content {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.camera_about_content p {
    color: #646D77;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/* EXCEED EXPECTATIONS */

.exceed_contain {
    display: flex;

}

.exceed_content {
    width: 50%;
    background-color: #071112;
    padding-left: 10%;
    height: 700px;
    display: flex;
    align-items: center;
}

.exceed_left {
    color: #fff;
}

.exceed_left h2 {
    font-size: 60px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 35px;
}

.exceed_left p {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

.exceed_left a {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}

.exceed_left a:hover {
    color: #071112;
    background-color: #fff;
}

.exceed_img {
    background-image: url(images/gallery/startup_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 700px;
    width: 50%;
}

/* CREATING EXPERIENCES */

.create_contain {
    padding-top: 120px;
    padding-bottom: 60px;
}

.create_flex {
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.create_header {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    text-align: center;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 83.333333%;
}

.create_header h2 {
    font-size: 60px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 21px;
}

.create_header p {
    color: #646D77;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.create_mid {
    display: flex;
    justify-content: space-between;
}

.create_icon {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    text-align: center;
}

.create_icon img {
    margin-bottom: 26px;
}

.create_icon p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: capitalize;
    color: #000;
    line-height: 1.7;
}

/* MEMBER */

.member_contain {
    background-image: url('images/gallery/section_bg03.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 170px;
    overflow: hidden;
}

.member_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    margin-left: 15px;
    margin-right: 15px;
}

.member_slick {
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.member_slick .slick-prev {
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 1;
    outline: none;
    border: none;
    font-size: 20px;
    color: rgba(253, 253, 253, 0.3);
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.5s ease;
    cursor: pointer;
}

.member_slick .slick-prev:hover {
    color: rgba(253, 253, 253, 0.9);
}

.member_slick .slick-next {
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 1;
    outline: none;
    border: none;
    font-size: 20px;
    color: rgba(253, 253, 253, 0.3);
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.5s ease;
    cursor: pointer;
}

.member_slick .slick-next:hover {
    color: rgba(253, 253, 253, 0.9);
}

.member_content {
    width: 870px;
    padding: 100px 10px 0 100px;
}

.member_comment {
    position: relative;
}

.member_comment img {
    position: absolute;
    top: -69px;
    left: -80px;
}

.member_comment p {
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 46px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: justify;
}

.member_info {
    display: flex;
}

.member_info_img {}

.member_info_img.img_2 img {
    width: 89px;
    height: 83px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px 4px;
}

.member_info_img img {
    object-fit: cover;
    margin-left: -15px;
}

.member_info_career {
    margin-left: 24px;
}

.member_info_career span {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-size: 24px;

}

.member_info_career p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/* CHOOSE A PLAN */

.plan_contain {
    padding-top: 200px;
    padding-bottom: 200px;
}

.plan_header {
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.plan_header_center {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
    max-width: 83.333333%;
    ;
    text-align: center;
}

.plan_header_center h2 {
    font-size: 58px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 21px;
}

.plan_header_center p {
    color: #646D77;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 15px;
    font-weight: normal;
}

.plan_price {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}

.plan_item {
    flex: 1;
    text-align: center;
    max-width: 33.333333%;
    border: 1px solid #DBDBDB;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
}

.plan_top {
    position: relative;
}

.plan_top .plan_popular {
    position: absolute;
    background: #3B2D82;
    width: 100%;
    top: 5px;
    left: -115px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 51px;
    text-transform: capitalize;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    z-index: -1;
}

.plan_top img {
    margin-bottom: 30px
}

.plan_top h4:nth-of-type(1) {
    color: #072366;
    font-size: 25px;
    font-weight: 800;
    padding-right: 3px;
    line-height: 1.3;
}

.plan_top p {
    color: #838a9b;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 30px;
    font-weight: normal;
}

.plan_top h4:nth-of-type(2) {
    color: #071112;
    font-size: 30px;
    font-weight: 600;
    padding-right: 3px;
    margin-bottom: 21px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;
}

.plan_mid {
    margin-bottom: 62px;
    padding-left: 15px;
    padding-right: 15px;
}

.plan_mid ul {}

.plan_mid li {
    color: #717081;
    font-weight: 300;
    margin-bottom: 23px;
    font-size: 18px;
}

.plan_bottom {
    padding-left: 20px;
    padding-right: 20px;
}

.plan_bottom a {
    border: 1px solid #DBDBDB;
    color: #071112;
    background: rgba(255, 255, 255, 0.1);
    text-transform: normal;
    padding: 14px 35px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.4s linear;
    overflow: hidden;
}

.plan_bottom a::before {
    content: '';
    position: absolute;
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #071112;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
}

.plan_bottom a:hover {
    color: #fff;
}

.plan_bottom a:hover::before {
    transform: scaleY(1);
}

/* SLICK IMG INSTAGRAM */
.ins_contain {}

.ins_img {}

.ins_item {
    position: relative;
    display: inline-block;
}

.ins_item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.ins_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 10, 68, 0);
    transition: all 0.5s ease;
}

.ins_overlay_content {
    height: 100%;
    position: relative;
}

.ins_overlay_content a {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 45%;
    color: #fff;
    font-size: 35px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ins_overlay_content i {}

.ins_item:hover .ins_overlay {
    background-color: rgba(1, 10, 68, 0.3);
}

.ins_item:hover .ins_overlay .ins_overlay_content a {
    opacity: 1;
    visibility: visible;
    top: 48%;
}

/* FOOTER */

.footer_wrapper {
    background: #071112;
}

.footer_info {
    padding-top: 120px;
    padding-bottom: 13px;
    margin-bottom: 50px;
}

.footer_info .container {
    text-align: center;
}

.footer_logo {
    margin-bottom: 25px;
}

.footer_logo a {
    display: inline-block;
}

.footer_logo a img {}

.footer_info>div ul {
    padding: 20px 0;
    display: block;
}

.footer_info>div ul li {
    display: inline-block;
}

.footer_info>div ul li a {
    display: block;
    color: #9DA4AB;
    display: block;
    font-weight: 400;
    padding: 18px 26px;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: underline transparent;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.footer_info>div ul li a:hover {
    text-decoration: underline #fff 1px;
    color: #fff;
}

.footer_socials {}

.footer_socials a {
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    background: rgba(50, 157, 35, 0.06);
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #9DA4AB;
}

.footer_socials a i {
    display: inline-block;
    transition: 0.4s;
    transform: rotateY(0deg);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.footer_socials a:hover {
    color: #000;
    background: #fff;
    border: 1px solid transparent;
}

.footer_socials a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.footer_copyright {
    padding: 33px 0px 20px;
    text-align: center;
}

.footer_copyright .container {}

.footer_copyright>div p {
    color: #646D77;
    font-weight: 300;
    font-size: 15px;
    line-height: 2;
    margin-bottom: 12px;
}

.footer_copyright>div p i {
    color: red;
    animation: xoay 4s linear infinite;
}

.footer_copyright>div p span {
    color: #fff;
}

/* MAP SECTION */

.map_section {
    padding: 130px 0 100px;
}

.map_section .container {}

.map_iframe {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.map_iframe iframe {
    width: 100%;
    height: 480px;
}

.map_contact {}

.map_contact_title {}

.map_contact_title h2 {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #071112;
    font-style: normal;
}

.map_contact_main {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.map_contact_form {
    max-width: 66.666667%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.map_contact_form form {
    max-width: 100%;
}

.map_contact_form form>div input {
    border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    letter-spacing: 1px;
}

.map_contact_textarea {
    width: 100%;
    margin-bottom: 30px;
}

.map_contact_textarea textarea {
    border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    line-height: 1.5;
    color: #495057;
    width: 100%;
    height: 100%;
    resize: vertical;
}

.map_contact_name {
    display: inline-block;
    max-width: 50%;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 15px;
    float: left;
}

.map_contact_name input[name=name] {
    width: 100%;
}

.map_contact_email {
    display: inline-block;
    max-width: 50%;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
    float: right;
}

.map_contact_email input[name=email] {
    width: 100%;
}

.map_contact_subject {
    width: 100%;
    margin-bottom: 30px;
}

.map_contact_subject input[name=subject] {
    width: 100%;
}

.map_contact_submit {
    margin-bottom: 30px;
    margin-top: 10px;
    background: #fff;
    color: #071112;
    display: inline-block;
    padding: 18px 44px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #071112;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.map_contact_submit:hover {
    background-color: #000;
    color: #fff;
}

.map_contact_info {
    max-width: 33.333333%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
    flex: 1;
}

.map_contact_item {
    display: flex;
    margin-bottom: 25px;

}

.map_contact_item span {
    margin-right: 20px;
}

.map_contact_item i {
    color: #8f9195;
    font-size: 27px;
}

.map_contact_text {
    flex: 1;
    text-align: justify;
}

.map_contact_text h3 {
    font-size: 18px;
    color: #2a2a2a;
    font-weight: 400;
}

.map_contact_text p {
    color: #8a8a8a;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/* BLOG */

.blog {
    padding-top: 120px;
    padding-bottom: 120px;
}

.blog .container {}

.blog_flex {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.blog_left {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 66.666677%;
    width: 100%;
}

.blog_area {}

.blog_item {
    margin-bottom: 50px;
}

.blog_thumbnail {
    position: relative;
}

.blog_thumbnail a {}

.blog_thumbnail a img {
    width: 100%;
}

.blog_thumbnail span {
    position: absolute;
    bottom: -20px;
    left: 40px;
    padding: 13px 30px;
    background-color: #000;
    border-radius: 10px;
}

.blog_thumbnail span h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

.blog_thumbnail span p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.blog_title {
    padding: 60px 30px 35px 35px;
    box-shadow: 0 10px 20px 0 rgb(221 221 221 / 30%);
}

.blog_title a {}

.blog_title a h2 {
    color: #080808;
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600px;
}

.blog_title p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #10285d;
    line-height: 30px;
    font-weight: normal;
}

.blog_title ul {}

.blog_title li {
    display: inline-block;
}

.blog_title li.solid::after {
    content: '|';
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.blog_title li a {
    color: #999;
    font-size: 16px;
}

.blog_title li a i {
    padding-right: 5px;
}

.blog_contain_pages {
    margin-top: 80px;
    text-align: center;
}

.blog_pages {}

.blog_pages ul {}

.blog_pages ul li {
    display: inline-block;
}

.blog_pages ul li a {
    display: block;
    border: 1px solid #999;
    margin-left: 10px;
    color: #8a8a8a;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_pages ul li:not(li:first-child):not(li:last-child):hover a {
    background-color: #000;
    color: #fff;
}

.blog_pages ul li a i {}

.blog_right {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 33.333333%;
    width: 100%;
}

.blog_h2 {
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f0e9ff;
    font-size: 22px;
    color: #2d2d2d;
}

.blog_category {}

.blog_search {
    background-color: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.blog_form_search {}

.blog_input {
    margin-bottom: 10px;
    display: flex;
}

.blog_input input[name=search] {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    outline: none;
    border: none;
    flex: 1;
    letter-spacing: 1px;
}

.blog_input button {
    background: #071112;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    cursor: pointer;
}

.blog_input button i {
    color: white;
    font-size: 15px;
}

.blog_btn_search {
    width: 100%;
    padding: 4px 15px;
    outline: none;
    background: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #071112;
    letter-spacing: 3px;
    text-align: center;
    color: #071112;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.blog_btn_search:hover {
    background: #000;
    color: #fff;
}

.blog_list {}

.blog_wrap_list {}

.blog_wrap_list h2 {}

.blog_wrap_list ul {}

.blog_wrap_list ul li {
    padding-bottom: 12px;
}

.blog_wrap_list ul li:not(li:last-child) {
    border-bottom: 1px solid #f0e9ff;
}

.blog_wrap_list ul li:not(li:first-child) {
    padding-top: 15px;
}

.blog_wrap_list ul li a {
    color: #10285d;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}

.blog_wrap_list ul li a:hover {
    color: #000;
}

.blog_recent {}

.blog_wrap_recent {}

.blog_wrap_recent h2 {}

.blog_recent_list {}

.blog_recent_item {
    display: flex;
    align-items: center;
}

.blog_recent_item:not(.blog_recent_item:last-child) {
    margin-bottom: 20px;
}

.blog_recent_item img {}

.blog_recent_title {
    flex: 1;
    padding-left: 20px;
}

.blog_recent_title a {
    color: #2d2d2d;
}

.blog_recent_title a h4 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
}

.blog_recent_title p {
    font-size: 16px;
    line-height: 21px;
    color: #2d2d2d;
}

.blog_tags {}

.blog_wrap_tags {}

.blog_wrap_tags h2 {}

.blog_wrap_tags ul {}

.blog_wrap_tags ul li {
    display: inline-block;
}

.blog_wrap_tags ul li a {
    background-color: #fff;
    color: #2d2d2d;
    display: inline-block;
    border: 1px solid #eee;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all .3s ease 0s;
    color: #888;
    font-size: 15px;
}

.blog_wrap_tags ul li a:hover {
    background-color: #000;
    color: #fff;
}

.blog_ins_feeds {}

.blog_wrap_feeds {}

.blog_wrap_feeds ul {
    display: flex;
    flex-wrap: wrap;
}

.blog_wrap_feeds ul li {
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
    width: 33.33%;
}

.blog_wrap_feeds ul li:first-child {
    padding-left: 0px;
}

.blog_wrap_feeds ul li:nth-child(4) {
    padding-left: 0px;
}

.blog_wrap_feeds ul li a {}

.blog_wrap_feeds ul li a img {
    max-width: 100%;
}

.blog_newsletter {}

.blog_wrap_newsletter {}

.blog_form_newsletter {}

.blog_input_newsletter_email {
    margin-bottom: 10px;
}

.blog_input_newsletter_email input[name=email] {
    width: 100%;
    height: 50px;
    border: 1px solid #ced4da;
    outline: none;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    letter-spacing: 1px;
}

.blog_newsletter_btn {
    width: 100%;
    background: #fff;
    color: #071112;
    padding: 18px 44px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #071112;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.blog_newsletter_btn:hover {
    color: #fff;
    background: #000;
}

/* BLOG DETAILS */

.blog_details_single {}

.blog_details_img {}

.blog_details_img img {
    max-width: 100%;
}

.blog_details_content {
    padding-top: 26px;
}

.blog_details_h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #2d2d2d;
}

.blog_details_style {
    margin-top: 10px;
    margin-bottom: 15px;
}

.blog_details_style .solid::after {
    content: '|';
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.blog_details_style li {
    display: inline-block;
}

.blog_details_style li a {
    color: #999;
    font-size: 16px;
}

.blog_details_style li a:hover {
    color: #000;
}

.blog_details_style li a i {
    padding-right: 5px;
}

.blog_wrap_qoute {
    background: rgba(130, 139, 178, .1);
    padding: 30px;
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blog_quote_inner {
    padding: 25px 25px 25px 30px;
    background: #fff;
    border-left: 2px solid;
}

.blog_quote_inner blockquote {
    font-size: 18px;
}

.blog_details_paragraph {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #10285d;
    font-weight: normal;
}

.blog_navigation {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;
}

.blog_navi_in4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_navi_in4 p {
    font-size: 16px;
    color: #10285d;
    line-height: 30px;
}

.blog_navi_in4 p span {
    font-size: 16px;
    margin-right: 7px;
}

.blog_navi_in4 p span i {
    animation: xoay 3s linear infinite;
}

.blog_navi_in4 p span i:hover {
    color: red;
}

.blog_navi_socials {}

.blog_navi_socials li {
    display: inline-block;
}

.blog_navi_socials li:not(li:last-child) {
    margin-right: 15px;
}

.blog_navi_socials li a {}

.blog_navi_socials li a i {
    font-size: 14px;
    color: #999;
}

.blog_navi_socials li a i:hover {
    color: #000;
}

.blog_navi_others_page {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px;
}

.blog_prev {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    justify-content: flex-start;
}

.blog_prev:hover .blog_navi_overlay {
    visibility: visible;
    opacity: 1;
}

.blog_prev_img {
    order: 1;
    margin-right: 20px;
    position: relative;
}

.blog_prev_title {
    order: 2;
    text-align: left;
}

.blog_navi_img {
    position: relative;
}

.blog_navi_img a {
    display: block;
}

.blog_navi_img a img {
    display: block;
}

.blog_navi_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.blog_navi_overlay_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_navi_overlay_content a {
    display: block;
    color: #fff;
    font-size: 22px;
}

.blog_navi_overlay_content a i {}

.blog_navi_title {}

.blog_navi_title p {
    color: #10285d;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
}

.blog_navi_title h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2d2d2d;
    font-weight: 400;
    margin-bottom: 5px;
}

.blog_next {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    float: right;
    justify-content: flex-end;
}

.blog_next:hover .blog_navi_overlay {
    visibility: visible;
    opacity: 1;
}

.blog_next_img {
    order: 2;
    margin-left: 20px;
    position: relative;
}

.blog_next_title {
    order: 1;
    text-align: right;
}

.blog_author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
}

.blog_author_info {
    display: flex;
    align-items: center;
}

.blog_author_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}

.blog_author_img img {}

.blog_author_introduce {}

.blog_author_introduce h4 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.blog_author_introduce p {
    font-size: 17px;
    color: #10285d;
    line-height: 30px;
}

.blog_comments {
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px;
}

.blog_comments h4 {
    margin-bottom: 35px;
    font-size: 20px;
}

.blog_list_cmt {}

.blog_cmt_item {
    display: flex;
    padding-bottom: 48px;
}

.blog_cmt_item:last-child {
    padding-bottom: 0px;
}

.blog_cmt_img {
    margin-right: 20px;
}

.blog_cmt_img img {
    display: block;
}

.blog_cmt_text {}

.blog_cmt_text>p {
    margin-bottom: 10px;
    color: #777;
    font-size: 17px;
    line-height: 30px;
}

.blog_cmt_info {
    display: flex;
    justify-content: space-between;
}

.blog_cmt_time {
    display: flex;
    align-items: center;
}

.blog_cmt_time span {
    font-size: 16px;
}

.blog_cmt_time p {
    font-size: 16px;
    color: #999;
    margin-left: 20px;
}

.blog_cmt_rep {
    color: #888;
    font-size: 16px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 18px;
    cursor: pointer;
}

.blog_cmt_rep:hover {
    color: #000;
}

.blog_leave_reply {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.blog_leave_reply h4 {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 22px;
}

.blog_details_form {
    display: block;
    color: #e5e6e9;
}

.blog_details_textarea {
    margin-bottom: 30px;
}

.blog_details_textarea textarea {
    resize: vertical;
    display: block;
    width: 100%;
    border: 1px solid #e5e6e9;
    height: 100%;
    padding-left: 18px;
    padding-top: 18px;
    font-size: 15px;
}

.blog_details_name {
    display: inline-block;
    max-width: 50%;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 15px;
    float: left;
}

.blog_details_name input[name=name] {
    width: 100%;
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
}

.blog_details_email {
    display: inline-block;
    max-width: 50%;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
    float: right;
}

.blog_details_email input[name=email] {
    width: 100%;
    border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
}

.blog_details_website {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px
}

.blog_details_website input[name=website] {
    width: 100%;
    border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
}

.blog_details_btn {
    margin-bottom: 30px;
    background-color: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #071112;
    letter-spacing: 3px;
    text-align: center;
    color: #071112;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.blog_details_btn:hover {
    color: #fff;
    background-color: #000;
}

/* BLOG ELEMENT */
/* TEXT SAMPLE */

.text_sample {
    padding: 100px 0 70px 0;
}

.text_sample_h2 {
    margin-bottom: 30px;
    font-size: 26px;
}

.text_sample_content {
    color: #10285d;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
    color: #1f2b7b;
}

sup {
    color: #1f2b7b;
}

sub {
    color: #1f2b7b;
}

.strike {
    text-decoration: line-through;
    color: #1f2b7b;
}

.underline {
    text-decoration: underline;
    color: #1f2b7b;
}

/* SAMPLE BUTTONS */

.button_area {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px dotted #eee;
}

.button_area_h2 {
    color: #071112;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 26px;
}

.button_area_row {
    margin-top: 10px;
}

.button_area_row--1 {
    margin-top: 0px !important;
}

.button_area_row:nth-child(even) {
    margin-top: 40px;
}

.btn {
    border: 1px solid transparent;
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    margin-right: 10px;
    margin-top: 10px;
}

.btn:last-child {
    margin-right: 0;
}

.radius {
    border-radius: 3px;
}

.radius--circle {
    border-radius: 20px;
}

.size-xl {
    padding: 0 40px;
    line-height: 50px;
}

.size-l {
    line-height: 45px;
}

.size-m {
    line-height: 30px;
}

.size-s {
    line-height: 25px;
}

.btn--default {
    color: #415094;
    background: #f9f9ff;
}

.btn--default:hover {
    border: 1px solid #f9f9ff;
    background: #fff;
}

.btn--primary {
    color: #fff;
    background: #1f2b7b;
}

.btn--primary:hover {
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    background: #fff;
}

.btn--success {
    color: #fff;
    background: #4cd3e3;
}

.btn--success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.btn--info {
    color: #fff;
    background: #38a4ff;
}

.btn--info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.btn--warning {
    color: #fff;
    background: #f4e700;
}

.btn--warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.btn--danger {
    color: #fff;
    background: #f44a40;
}

.btn--danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.btn--link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline !important;
}

.btn--link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
}

.btn--disable {
    color: #fff;
    background: #f9f9ff;
    cursor: not-allowed;
}

.btn--default-border {
    color: #fff;
    border: 1px solid #f9f9ff;
    background: #fff;
}

.btn--default-border:hover {
    color: #415094;
    background: #f9f9ff;
}

.btn--primary-border {
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    background: #fff;
}

.btn--primary-border:hover {
    color: #fff;
    background: #1f2b7b;
}

.btn--success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.btn--success-border:hover {
    color: #fff;
    background: #4cd3e3;
}

.btn--info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.btn--info-border:hover {
    color: #fff;
    background: #38a4ff;
}

.btn--warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.btn--warning-border:hover {
    color: #fff;
    background: #f4e700;
}

.btn--danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.btn--danger-border:hover {
    color: #fff;
    background: #f44a40;
}

.btn--link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline !important;
}

.btn--link-border:hover {
    color: #415094;
    background: #f9f9ff;
}

.btn--disable-border {
    color: #fff;
    background: #f9f9ff;
    cursor: not-allowed;
}

/* LEFT ALIGNED */

.align_area {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px dotted #eee;
}

.align_area_h2 {
    margin-bottom: 30px;
    color: #071112;
    font-style: normal;
}

.align_area_h2--left {
    text-align: left;
}

.align_area_content {
    display: flex;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;
}

.align_area_wrap_img {
    max-width: 25%;
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.align_area_wrap_img--left {
    order: 1;
}

.align_area_img {
    display: block;
    width: 100%;
}

.align_area_wrap_text {
    max-width: 75%;
    flex: 1;
}

.align_area_wrap_text--left {
    order: 2;
    text-align: left;
}

.align_area_text {
    color: #10285d;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    padding-right: 15px;
    padding-left: 15px;
}

/* RIGHT ALIGNED */

.align_area_h2--right {
    text-align: right;
}

.align_area_wrap_img--right {
    order: 2;
}

.align_area_wrap_text--right {
    order: 1;
    text-align: right;
}

/* DEFINITION */

.definition {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px dotted #eee;
}

.definition_h2 {
    margin-bottom: 30px;
    color: #071112;
    font-style: normal;
}

.definition_area {
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}

.definition_item {
    padding-left: 15px;
    padding-right: 15px;
}

.definition_h4 {
    margin-bottom: 22px;
    color: #071112;
    font-style: normal;
    font-weight: 400;
}

.definition_wrap_text {}

.definition_text {
    color: #10285d;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/* BLOCK QUOTES */

.quotes {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px dotted #eee;
}

.quotes_h2 {
    margin-bottom: 30px;
    color: #071112;
    font-style: normal;
}

.quotes_wrap {
    
}

.quotes_inner {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #1f2b7b;
    line-height: 1.733;
    font-style: italic;
}

.quotes_content {
    font-size: 18px;
}

/* TABLE */

.table_area {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px dotted #eee;
}

.table_h2 {
    margin-bottom: 30px;
    color: #071112;
    font-style: normal;
}

.table_wrap {
    overflow-y: scroll;
    max-height: 550px;
}

.table_content {
    background: #f9f9ff;
    padding: 15px 0 30px 0;
    min-width: 800px;
}

.table_head {
    display: flex;
    justify-content: space-between;
    color: #415094;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.table_head_id {
    width: 11.83%;
    padding-left: 30px;
}

.table_head_countries {
    width: 28.07%;
}

.table_head_visits {
    width: 19.74%;
}

.table_head_per {
    width: 40.36%;
    padding-right: 50px;
}

.table_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    font-size: 18px;
    font-weight: 400;
}

.table_row_id {
    width: 11.83%;
    padding-left: 30px;
}

.table_row_national {
    display: flex;
    align-items: center;
    width: 28.07%;
}

.table_row_national_img {
    margin-right: 15px;
}

.table_row_national_name {

}

.table_row_quantity {
    width: 19.74%;
}

.table_row_progress {
    width: 40.36%;
    padding-right: 50px;
}

.progress {
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    outline: none;
}

.progress--1 {
    width: 80%;
    background-color: #6382e6;
}

.progress--2 {
    width: 30%;
    background-color: #e66686;
}

.progress--3 {
    width: 55%;
    background-color: #f09359;
}

.progress--4 {
    width: 60%;
    background-color: #73fbaf;
}

.progress--5 {
    width: 40%;
    background-color: #73fbaf;
}

.progress--6 {
    width: 70%;
    background-color: #6382e6;
}

.progress--7 {
    width: 30%;
    background-color: #a367e7;
}

.progress--8 {
    width: 60%;
    background-color: #e66686;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
}

/* ARROW UP */
.arrow-up {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
    border: 1px solid black;
    border-radius: 50%;
    background: #071112;
    height: 50px;
    width: 50px;
    ;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.arrow-up i {
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    display: block;
    font-size: 20px;
}